.notification-setting-container {
  display: flex;
  flex-flow: column;
  font-family: Roboto;
  width: 100%;
  background-color: #ffffff;
  flex: 1;
  color: #212529;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding-bottom: 2rem;

  box-shadow: 0.1rem 0.1rem 1rem 0 rgba(219, 219, 219, 0.5);
  .header-page {
    width: 100%;
    border-bottom: 0.1rem solid #e0e0e0;
    .header-content {
      display: flex;
      background-color: #ffffff;
      align-items: center;
      .page-label,
      .tabs-wrapper {
        display: flex;
        align-items: center;

        .xc-tab {
          background-color: white;
          & a {
            font-size: 1.5rem;
            text-transform: uppercase;
            background-color: white;
            font-weight: bold;
          }

          & .active {
            color: #fc5830;
            border-bottom: 0.2rem solid #fc5830;
          }
        }
      }

      .tabs-wrapper {
        flex: 1 1 auto;
      }

      .page-label {
        flex: 1 1 rem;
        .main-label {
          padding-top: 1.4rem;
          padding-left: 2.5rem;
          padding-bottom: 1.4rem;
          .label-text {
            font-size: 2rem;
            font-weight: 500;
            color: #444444;
          }

          span {
            margin-right: 0.8rem;
            font-size: 2rem;
          }
        }
      }
      .right-button {
        justify-content: flex-end;
        display: flex;
        flex: 1;
        .jn-btn {
          margin-right: 4.5rem;
          & a {
            font-size: 1.4rem;
            font-weight: 500;
            color: #9b9b9b;
            text-transform: none;
          }
        }
      }
    }
  }

  .body-page {
    display: flex;
    flex-direction: column;
    margin-left: 2.3rem;
    margin-top: 2rem;
    & a {
      color: #4a4a4a;
    }
    .jn-checkbox {
      & .check {
        border-color: #e3e3e3;
      }
      & input[type='checkbox']:checked + .checkbox-material .check,
      label.checkbox-inline input[type='checkbox']:checked + .checkbox-material .check,
      input[type='checkbox']:checked + .checkbox-material .check:before,
      label.checkbox-inline input[type='checkbox']:checked + .checkbox-material .check:before {
        color: white;
        border-color: #e3e3e3;
        background: #fc5830;
      }
    }
  }

  @media (max-width: 767px) {
    margin-right: 0;
  }
}
