.recruitment-days {
  .title {
    flex-direction: column;
    .main-title {
      align-self: center;
      margin-bottom: 20px;
    }
    .countdown-wrapper {
      align-self: center;
    }
  }
  .flash-jobs-banner {
    height: 100% !important;
  }
}
