.mobile-menu-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(74, 74, 74, 0.5);
  top: -0.8rem;
  right: -100vw;
  transition: all 0.5s ease;

  &.open {
    right: 0;
  }

  .close-btn {
    color: #9b9b9b;
    font-size: 1.6rem;
    position: absolute;
    right: 1.2rem;
    top: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;

    &.mobile-menu {
      background-color: rgb(255, 255, 255);
      width: 80vw;
      height: 100%;
      margin-left: 20vw;
      padding-top: 2rem;

      > li:not(:last-child) {
        margin-bottom: 3.2rem;
      }

      .menu-label {
        font-size: 1.6rem;
        font-weight: bold;
        color: #fc5830;
        text-transform: uppercase;
        border-bottom: solid 0.2rem #fc5830;
        padding-bottom: 1.2rem;
        margin: 0 4rem;
      }

      a {
        font-size: 1.5rem;
        font-weight: 300;
        color: #4a4a4a;
        line-height: 3.2rem;
        padding: 0 4rem;
        display: inline-block;
        width: 100%;
      }
      a:hover,
      a:active,
      a:focus {
        background-color: #f4f3f4;
      }
    }
  }
}
