.apply-popup-wrapper:not(.empty-cv-list) {
  .modal-body {
    padding: 4rem;
  }

  .apply-success-msg {
    font-size: 1.4rem;
    color: #17ac7f;
    text-align: center;
  }

  .loggedin-apply-wrapper {
    .error-message {
      font-size: 1.4rem;
      font-weight: 300;
      padding: 1.6rem 0 1rem 0;
      text-align: center;
      color: #d0021b;
    }
    .jn-radios {
      margin: 1.6rem 0;
      max-height: 24rem;
      overflow-y: auto;

      .radio {
        align-items: center;
        height: 5rem;
        margin-bottom: 5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .label-wrapper {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-left: 0.4rem;

        .info-wrapper {
          margin-left: 2.2rem;
        }

        .cv-icon-wrapper {
          img {
            height: 5rem;
          }
        }

        .cv-title {
          font-weight: bold;
          color: #fc5830;
        }

        .cv-name {
          margin-top: 0.6rem;
          font-weight: 300;
          color: #212529;
        }
      }
    }

    .help-block {
      position: relative;
      margin-bottom: 1rem;
      margin-top: 0.8rem;
      font-size: 1.2rem;
      font-weight: 300;
      color: #d0021b !important;
    }

    .jn-btn-apply a {
      height: 4rem;
      line-height: 4rem;
      padding: 0;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}
