.business-cert-page {
  .business-cert-wrapper {
    margin-left: 15px;
    flex: 1;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 0 rgba(219, 219, 219, 0.5);
    display: flex;
    flex-direction: column;

    .form-header {
      border-bottom: solid 1px #e3e3e3;
      padding: 20px 36px;

      h2 {
        font-size: 25px;
        color: #444444;
        margin-top: 0;
      }

      .legend {
        font-size: 15px;
        font-weight: 300;
        color: #212529;
      }
    }

    .upload-wrapper {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
      flex-direction: column;

      .jn-file-uploader {
        height: 420px;
      }
      .button-wrapper {
        width: 70%;
        margin-top: 30px;

        .jn-btn {
          border: 1px solid #979797;
        }
      }
    }

    .uploaded-cert-wrapper {
      padding: 0 36px 36px;
      .cert-info {
        padding: 30px 0;
        font-family: Roboto;
        font-size: 15px;
        font-weight: normal;
        span {
          color: #212529;
        }

        a {
          color: #fc5830;
          margin-left: 10px;
        }
      }
    }

    .button-wrapper {
      display: flex;
      .jn-btn a {
        width: 190px;
      }
    }
  }
}
