// .edit-cv-page {
.main-content {
  .page-wrapper {
    .skill-info {
      margin-top: 1rem;

      .block-container {
        .block-body {
          padding-top: 2.4rem;
          padding-bottom: 2.4rem;
          display: flex;

          .items-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            min-height: 6rem;
            align-items: center;

            .empty-msg {
              font-size: 1.4rem;
              color: #444444;
            }

            &.not-empty {
              padding-top: 1.5rem;
            }

            .skill-item {
              font-size: 1.4rem;
              font-weight: 300;
              color: #4a4a4a;
              border-radius: 0.2rem;
              background-color: #f7f7f7;
              border: solid 0.1rem #e3e3e3;
              padding: 1rem 1rem 1rem 1.5rem;
              display: flex;
              align-items: center;
              margin-right: 1.5rem;
              margin-bottom: 1.5rem;

              a {
                font-size: 1rem;
                color: #979797;
                margin-left: 0.5rem;

                &:hover {
                  color: #fc5830;
                }
              }
            }
          }

          .add-wrapper {
            display: flex;
            width: 70%;
            margin-top: 2rem;

            .jn-search-input {
              flex: 1;

              label {
                padding: 0 2rem;
                line-height: 4rem;
                font-weight: 300;
                font-size: 1.4rem;
                color: #9b9b9b;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 4rem;;
              }

              .input-wrapper {
                input {
                  height: 4rem;
                }
              }

              .dropdown-menu {
                top: 0.2rem;
                box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.175);
                width: 100%;
                max-height: 20rem;
                z-index: 9;
                overflow-y: auto;

                a {
                  color: #9b9b9b;
                }
              }
            }
            .jn-btn {
              a {
                padding: 0;
                line-height: 4rem;
                border-radius: 2px;
                width: 12.8rem;
                font-size: 1.4rem;
                font-weight: bold;

                span {
                  margin-right: 0.8rem;
                  &:before {
                    color: #4a4a4a;
                  }
                }
              }
              &.jn-btn__normal {
                a {
                  background-color: #e3e3e3;
                  color: #4a4a4a;
                }
              }
            }
          }
        }

        .update-actions-wrapper {
          display: flex;
          margin-top: 3.5rem;

          .jn-btn {
            a {
              padding: 0;
              line-height: 4rem;
              border-radius: 2px;
              width: 12.8rem;
              font-size: 1.4rem;

              span {
                margin-right: 0.8rem;
                &:before {
                  color: #4a4a4a;
                }
              }
            }
            &.jn-btn__normal {
              margin-left: 1.6rem;
              a {
                background-color: #e3e3e3;
                color: #4a4a4a;
                font-weight: 300;
              }
            }
          }
        }
      }

      &.editing {
        .block-container .block-body {
          box-shadow: none;
          border: none;
          flex-direction: column;
          padding: 2rem 3.5rem;
        }
      }

      @media (max-width: 767px) {
        &.editing .block-container .block-body {
          padding: 1.6rem;

          .items-wrapper {
            min-height: auto;
          }

          .add-wrapper {
            flex-direction: column;
            width: 100%;

            .jn-search-input {
              margin-bottom: 1rem;
            }

            .jn-btn a {
              width: 100%
            }
          }
        }
      }
    }
  }
}
// }
