.edit-cv-page {
  .main-content {
    .page-wrapper {
      .general-info {
        .block-container {
          .block-body {
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
            display: flex;
            align-items: center;

            .avatar-wrapper {
              margin: 0 4.8rem 0 1.6rem;
              width: 14rem;
              height: 14rem;
              border-radius: 7rem;
              overflow: hidden;
              border: 0.05rem solid #e0e0e0;
              img {
                width: 100%;
              }
            }

            .main-info-wrapper {
              display: flex;
              flex-wrap: wrap;
              flex: 1;
              justify-content: space-between;

              .col {
                margin-right: 3.6rem;
                flex: 1;
              }

              .info-line {
                display: flex;
                font-family: Roboto;
                font-size: 1.4rem;
                line-height: 2.14;
                color: #4a4a4a;
                .info-title {
                  font-weight: 300;
                  margin-right: 0.6rem;
                }

                .info-value {
                  font-weight: bold;
                }
              }
            }

            @media (max-width: 991px) {
              .main-info-wrapper {
                flex-wrap: wrap;
                .actions-wrapper {
                  width: 100%;
                  display: flex;
                  justify-content: flex-end;

                  .jn-btn {
                    position: relative;
                    bottom: 0;
                  }
                }
              }
            }

            @media (max-width: 767px) {
              padding: 2rem 3.5rem;
              .avatar-wrapper {
                margin: 0 3.5rem 0 0;
              }
              .main-info-wrapper {
                flex-direction: column;
              }
            }

            @media (max-width: 480px) {
              flex-direction: column;
              padding: 2rem 2.4rem;;

              .avatar-wrapper {
                margin: 0;
              }
              .main-info-wrapper {
                margin-top: 2.4rem;
                width: 100%;

                .col {
                  margin-right: 0;
                }
              }
            }
          }
        }

        @media (max-width: 767px) {
          form .buttons-wrapper .jn-btn {
            width: initial;
            flex: 1
          }
        }
      }
    }
  }
}
