.create-resume-page {
  .parent-cv-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 1rem;

    &.required-update,
    &.full-resumes {
      background-color: #ffffff;
      box-shadow: 0.1rem 0.1rem 1rem 0 rgba(219, 219, 219, 0.5);
    }

    &.full-resumes {
      padding: 3rem;

      .maximum-msg {
        font-size: 1.4rem;
        color: #212529;
      }

      .button-wrapper {
        display: flex;
        margin-top: 2rem;
      }
    }

    .create-wizard-tab {
      height: 11.4rem;
      margin-bottom: 0.9rem;
      box-shadow: 0.1rem 0.1rem 1rem 0 rgba(219, 219, 219, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #ffffff;
    }

    .create-cv-container {
      display: flex;
      flex-flow: column;
      font-family: Roboto;
      width: 100%;
      flex: 1;
      color: #212529;
      font-size: 1.4rem;
      background-color: #ffffff;

      box-shadow: 0.1rem 0.1rem 1rem 0 rgba(219, 219, 219, 0.5);
      .header-page {
        width: 100%;

        border-bottom: 0.1rem solid #e0e0e0;
        .header-content {
          display: flex;
          background-color: #ffffff;
          align-items: center;
          flex: 1;
          flex-wrap: wrap;
          padding-top: 1.4rem;
          padding-left: 3.2rem;
          padding-bottom: 1.4rem;
          .label-text {
            font-size: 2rem;
            font-weight: 500;
            color: #444444;
          }

          .right-button {
            justify-content: flex-end;
            display: flex;
            flex: 1;

            .jn-btn {
              margin-right: 3rem;
              height: 4rem;
              min-width: 25.6rem;

              & a,
              & a:focus {
                padding: 1.2rem;
                font-size: 1.4rem;
              }
            }
          }
        }
      }

      .body-page {
        display: flex;
        min-height: 37rem;
        padding: 3.2rem;
        flex: 1;

        .hobby-content-wrapper {
          flex: 1;
          width: 100%;
          .input-section {
            flex: 1;
            display: flex;
            padding: 0rem 1.3rem;

            form {
              width: 100%;
            }
            .jn-input-wrapper {
              margin-bottom: 2.4rem;

              label {
                flex: none;
                width: 20rem;
                padding: 0;
                line-height: 4rem;
                height: 4rem;
              }

              .input-wrapper {
                flex: 1;
                flex-direction: column;
                align-items: flex-start;
                input {
                  height: 4rem;
                }
                max-width: 58rem;
              }

              .help-block {
                position: relative;
                margin-bottom: 0;
                margin-top: 1.2rem;
                font-size: 1.2rem;
                font-weight: 300;
                color: #d0021b !important;
              }
            }

            .jn-select {
              > label {
                width: 20rem;
                font-size: 14px;
                color: #4a4a4a;
                font-weight: normal;

                .required {
                  font-size: 1.7rem;
                  color: #d0021b;
                  margin-left: 0.6rem;
                }
              }
              .field-body {
                flex: 1;
                max-width: 58rem;
              }

              input {
                height: 3.8rem;
              }

              .dropdown-menu {
                top: 4rem;
              }
            }

            .jn-btn__yellow {
              margin-top: 2.4rem;
              margin-left: 20rem;
              width: 18.6rem;

              a {
                padding: 0;
                line-height: 4rem;
                font-size: 14px;
                font-weight: bold;
              }
            }
          }
        }

        .init-create-cv {
          width: 100%;
          display: flex;
          flex: 1;
          // margin: 2.8rem 4rem;
          .init-left,
          .init-right {
            flex: 1;
            border: 0.1rem solid #e3e3e3;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            .content-label {
              flex: 1 1 0px;
              font-size: 1.6rem;
              color: #4a4a4a;
              .main-label {
                margin-top: 2.4rem;
              }
            }
            .content-btn {
              flex: 1 1 auto;
              // min-width: 31.5rem;
            }
          }
          .init-left {
            margin-right: 1.4rem;
          }
          .init-right {
            margin-left: 1.4rem;
          }
        }

        .jn-file-uploader {
          width: 100%;
        }
        .upload-file-box {
          display: flex;
          flex: 1;
          justify-content: center;
          border: 1px dotted #fc5830;
          align-items: center;
          .cv-info {
            margin-left: 6rem;
            font-size: 1.4rem;
            font-weight: 300;
            max-width: 17.5rem;

            .title {
              color: #4a4a4a;
            }
            .file-name {
              color: #fc5830;
            }
            .jn-btn__yellow {
              margin-top: 3rem;
            }
            .jn-btn__normal {
              margin-top: 1.5rem;
            }
          }
        }
      }
    }

    .block-container {
      background-color: #ffffff;
      box-shadow: 1px 1px 10px 0 rgba(219, 219, 219, 0.5);
      position: relative;

      .block-header {
        height: 4.8rem;
        border-bottom: solid 1px #e3e3e3;
        display: flex;
        align-items: center;
        padding: 0 3.5rem;

        .header-text {
          font-family: Roboto;
          font-size: 1.8rem;
          font-weight: bold;
          color: #4a4a4a;
        }
      }

      .block-body {
        padding: 0 2rem 0 3.5rem;
      }

      .actions-wrapper {
        width: 6rem;
        .jn-btn {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          bottom: 2rem;
          a {
            font-size: 1.4rem;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #fc5830;

            .btn-title {
              margin-left: 0.8rem;
            }
          }
        }
      }

      &:hover {
        .block-body {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          border: solid 1px #c5c5c5;
        }
        .actions-wrapper {
          .jn-btn {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .jn-btn {
      height: 4rem;
      min-width: 17.5rem;

      & a,
      & a:focus,
      & a:hover {
        padding: 1.2rem;
        font-size: 1.4rem;
      }
    }
    .jn-btn__normal {
      & a,
      & a:focus,
      & a:hover {
        background: #ffffff;
        color: #fc5830;
        border: 1px solid #e3e3e3;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      .jn-btn__normal {
        & a,
        & a:focus,
        & a:hover {
          color: #e3e3e3;
        }
      }
    }

    .popup-wrapper {
      .light-box {
        background-color: rgba(219, 219, 219, 0.5);
      }
      .modal-body {
        padding: 4rem 2.4rem 2rem 2.4rem;

        .image-wrapper {
          position: relative;

          > a {
            position: absolute;
            top: -25px;
            right: -25px;
            height: 25px;
            color: #979797;
            &:hover,
            &:focus,
            &:active {
              color: #fc5830;
            }
            > span {
              font-size: 25px;
            }
          }
        }

        .message {
          display: flex;
          margin-bottom: 2rem;
          font-size: 1.6rem;

          .msg-icon {
            font-size: 20px;
            margin-right: 10px;

            &.icon-close {
              color: #d0021b;
            }
            &.icon-jn-checked {
              border: 1px solid #1ebea5;
              border-radius: 10px;
            }
          }

          .msg {
            font-size: 16px;
            font-weight: normal;
            color: #444444;
          }

          .main-msg {
            display: flex;
          }

          .make-more-msg {
            margin: 20px 0;
            font-size: 16px;
            font-weight: normal;
            color: #444444;
          }
        }
      }

      .button-wrap {
        display: flex;
        justify-content: flex-end;

        .jn-btn {
          // border: 1px solid #979797;
          a {
            padding: 10px 25px;
          }
        }

        &.has-confirm {
          .jn-btn {
            border: none;
            padding: 8px;
            &.jn-btn__yellow {
              margin-left: 20px;
              width: 150px;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      .create-cv-container .body-page {
        padding: 1.6rem;

        .init-create-cv {
          flex-direction: column;
          .init-left {
            margin-right: 0;
            margin-bottom: 2rem;
          }
      
          .init-right {
            margin-left: 0;
          }
    
          .content-btn {
            min-width: 0 !important;
          }
        }
      }


      .create-cv-container .body-page .hobby-content-wrapper .input-section {
        padding: 0;
        .jn-work-location .location-item .field-wrapper {
          flex: 1;

          .select-display {
            margin-right: 0;
            input {
              width: 100%;
            }

            .dropdown-menu {
              width: 100%;
            }
          }
        }
      }
      .footer .jn-btn {
        min-width: 0;
      }
    }
  }
}
