.print-page-wrapper {
  padding: 4.8rem 7rem;
  background-color: #ffffff;
  width: 78.7rem;
  min-height: 112rem;
  position: absolute;
  z-index: 999;
  top: 0;

  .cv-header {
    display: flex;
    align-items: center;
    padding-bottom: 2.8rem;
    border-bottom: solid 0.1rem #e0e0e0;

    .candidate-info {
      font-family: Roboto;
      flex: 1;

      .candidate-name {
        font-size: 3rem;
        font-weight: bold;
        color: #04afe8;
      }

      .job-title {
        font-size: 2.5rem;
        font-weight: normal;
        color: #212529;
        border-bottom: 0.3rem solid #04afe8;
        display: inline-block;
        padding-bottom: 1.2rem;
        padding-top: 0.6rem;
      }

      .contact-info {
        margin-top: 2.2rem;
        font-size: 1.4rem;
        font-weight: normal;
        color: #212529;

        .contact-wrapper {
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
          flex-direction: row;

          > div {
            display: flex;
            align-items: center;

            &:first-child {
              margin-right: 2rem;
            }

            span[class^='icon'] {
              margin-right: 0.5rem;
            }
          }
        }

        .address-info {
          span[class^='icon'] {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .avatar-wrapper {
      width: 14.8rem;
      height: 14.8rem;
      border-radius: 7.4rem;
      border: 0.1rem solid #e0e0e0;
      overflow: hidden;
    }
  }

  .cv-section {
    padding: 2.4rem 0;
    border-bottom: solid 0.1rem #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

    .section-label {
      font-size: 2rem;
      font-weight: 300;
      color: #212529;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .section-content {
      display: flex;

      .col {
        flex: 1;
      }
    }

    .info-line {
      font-size: 14px;
      line-height: 1.43;
      color: #212529;
      display: flex;

      .info-title {
        font-weight: 300;

        span.title {
          display: inline-block;
          width: 17rem;
        }

        span:last-child {
          margin-right: 0.5rem;
          display: inline-block;
        }
      }

      .info-value {
        font-weight: bold;
      }
    }

    &.edu-section,
    &.exp-section {
      .section-content {
        flex-direction: column;
      }

      .time-line {
        display: flex;
        flex: 1;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #212529;
        margin-bottom: 1.8rem;
      }

      .main-info {
        flex: 2;
      }

      .detail-info {
        flex: 3;

        .major-info {
          display: flex;
          align-items: center;
          .bold-dot {
            width: 1rem;
            height: 1rem;
            background-color: #e3e3e3;
            border-radius: 0.5rem;
            margin-right: 2.4rem;
          }
        }

        .details {
          border-left: 0.1rem solid #e3e3e3;
          margin-left: 0.45rem;
          padding-left: 2.9rem;
        }
      }

      .time-title,
      .major-name {
        color: #04afe8;
        font-weight: bold;
      }

      .major-name {
        font-style: italic;
      }
    }

    &.foreign-langs {
      .lang-line {
        display: flex;
        flex: 1;
      }
      .lang-name {
        flex: 2;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.43;
        color: #212529;
      }

      .skills-wrapper {
        flex: 3;
        display: flex;
        flex-wrap: wrap;

        .skill-item {
          width: 50%;
          display: flex;
          padding-right: 5rem;

          &:nth-child(1),
          &:nth-child(2) {
            margin-bottom: 2rem;
          }

          .skill-title {
            font-size: 1.4rem;
            font-weight: bold;
            font-style: italic;
            color: #212529;
            width: 6.4rem;
          }

          .skill-level {
            height: 1.4rem;
            background-color: #e3e3e3;
            border-bottom: 1.4rem solid #e3e3e3;
            flex: 1;
            .skill-level-value {
              height: 1.4rem;
              background-color: #04afe8;
              border-bottom: 1.4rem solid #04afe8;
              width: 25%;
            }
          }
        }
      }
    }

    &.extra-info {
      display: flex;

      .section-label {
        flex: 2;
      }

      .section-content {
        flex: 3;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.43;
        color: #212529;
      }
    }
  }

  .cp-right {
    font-size: 1.4rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.43;
    color: #212529;
    text-align: center;
    margin-top: 0.4rem;
    width: 78.7rem;
    bottom: 2.8rem;
    position: absolute;
  }
}
