.block-container {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0 rgba(219, 219, 219, 0.5);
  font-family: Roboto;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .block-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #e0e0e0;

    .title {
      flex: 1;
      padding-left: 25px;
      font-size: 20px;
      font-weight: 500;
      color: #212529;
    }
  }

  .block-body {
    display: flex;
    padding: 15px 35px 35px;
  }

  .field-info {
    .info-label {
      font-size: 14px;
      font-weight: 500;
      color: #212529;
      margin-right: 10px;
    }

    .info-value {
      color: #212529;
      font-weight: 300;
      font-size: 14px;
    }

    > i {
      @media print {
        -webkit-print-color-adjust: exact;
        color: #fc5830 !important;
      }
      margin-right: 25px;
      color: #fc5830;
      font-size: 16px;
    }
  }

  &.candidate-info {
    .block-header {
      .jn-btn a {
        padding: 16px 40px;
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
      }

      .title {
        padding: 15px 0 15px 25px;
      }
    }

    .info-wrapper {
      display: flex;
      padding: 15px 0;

      .avatar-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        overflow: hidden;
        margin: 0 35px;
      }

      .info {
        flex: 1;
        display: flex;
        margin-left: 8px;
        padding: 0 16px;
        flex-direction: column;

        .candidate-name {
          -webkit-print-color-adjust: exact;
          font-family: Roboto;
          font-size: 25px;
          font-weight: bold;
          color: #fc5830;
          padding: 7px 0;
        }

        .candidate-title {
          padding: 7px 0;
          font-size: 20px;
          color: #212529;
        }

        .extra-info {
          flex: 1;

          @media (max-width: 1200px) {
            flex-direction: column;
          }

          .separator {
            font-size: 14px;
            font-weight: 500;
            color: #212529;
            margin: 0 15px;
          }
        }

        .extra-info {
          display: flex;
          .info-col {
            flex: 1;

            > div {
              padding: 7px 0;
            }
          }
        }
      }
    }
  }

  &.other-info {
    .block-header {
      padding: 20px 10px;

      .title {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
        color: #212529;

        > i {
          margin-right: 5px;
        }
      }
    }

    .field-info {
      padding: 10px 0;
      display: inline-block;
    }

    .info-col {
      min-width: 400px;
    }

    .field-time {
      -webkit-print-color-adjust: exact;
      font-size: 14px;
      font-weight: 500;
      color: #fc5830;
      margin-bottom: 6px;
    }

    .field-label {
      font-size: 14px;
      font-weight: normal;
      color: #212529;
      margin-right: 5px;
    }

    .field-value {
      font-size: 14px;
      font-weight: 300;
      color: #212529;
    }
  }

  &.exp-info {
    .work-exp-wrapper {
      border-bottom: solid 1px #e0e0e0;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &.skill-info {
    .block-body {
      flex-direction: column;

      .skill-wrapper {
        span[class^='icon-'] {
          font-size: 10px;
          margin-right: 5px;
        }

        .field-label {
          line-height: 1.43;
        }
      }
    }
  }

  &.general-info {
    .block-body {
      @media (max-width: 1200px) {
        flex-direction: column;
      }
    }
  }

  &.file-cv {
    .block-body > a {
      color: #212529;
      font-weight: 300;

      &:hover {
        color: #fc5830;
      }
    }
  }
}
