.apply-popup-wrapper {
  .modal-dialog {
    width: 43rem;
  }

  .close-btn {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 1.8rem;
    color: #979797;
  }

  .job-info {
    color: #212529;
    font-size: 1.8rem;

    .job-title {
      font-weight: bold;
    }

    .company-name {
      font-weight: 300;
      margin-top: 0.8rem;
      font-size: 1.6rem;
    }
  }

  .fast-apply-wrapper {
    .jn-btn {
      &.jn-btn__yellow {
        margin-top: 3.5rem;
        a {
          font-weight: bold;
          font-size: 1.4rem;
          line-height: 4rem;
          padding: 0;
          height: 4rem;
        }
      }

      &.jn-btn__normal a {
        font-weight: normal;
        color: #4a4a4a;
        font-size: 1.4rem;
        height: 4rem;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 0.1rem #979797;
        line-height: 4rem;
        padding: 0;
      }
    }

    .fast-apply-btn-wrapper {
      margin-top: 7.5rem;
      margin-bottom: 2rem;
      .btn-title {
        font-size: 1.4rem;
        font-weight: normal;
        color: #212529;
        margin-bottom: 1.2rem;
      }
    }
  }

  @media (max-width: 767px) {
    .modal-dialog {
      width: auto;
    }
  }
}
