.edit-cv-page {
  .main-content {
    .page-wrapper {
      .experience-info {
        margin-top: 1rem;

        .block-container {
          .block-body {
            padding: 0 !important;
            z-index: 9;

            .line-item {
              padding: 1.4rem 3.5rem 2.4rem 3.5rem;
              font-size: 1.4rem;
              font-weight: normal;
              line-height: 1.43;
              color: #4a4a4a;
              display: flex;

              .edu-classification {
                display: flex;

                .title {
                  margin-left: 0.5rem;
                  font-weight: bold;
                }
              }

              .info-wrapper {
                flex: 1;

                .job-title,
                .job-desc .title {
                  font-weight: bold;
                }

                .time-wrapper {
                  .end-time {
                    margin-left: 0.6rem;
                  }
                }
              }

              .actions-wrapper {
                display: flex;
                align-items: flex-end;
                width: initial;

                .jn-btn {
                  position: inherit;

                  a span:first-child {
                    margin-right: 0.6rem;
                  }

                  &.btn-delete {
                    margin-right: 6rem;
                    a {
                      color: #4a4a4a;
                    }
                  }
                }
              }

              &:hover {
                box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
                border: solid 0.1rem #c5c5c5;

                .jn-btn {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }

          .add-btn-wrapper {
            .jn-btn a {
              padding: 0;
              line-height: 4rem;
              background-color: #e3e3e3;

              span.icon-jn-plus {
                font-size: 1.4rem;
                margin-right: 0.6rem;
                &:before {
                  color: #4a4a4a;
                }
              }
            }
          }

          &:hover {
            .block-body {
              box-shadow: none;
              border: none;
            }

            .actions-wrapper {
              .jn-btn {
                opacity: 0;
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
}
