.candidate-list-page {
  .candidate-list-container {
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (max-width: 992px) {
      margin-left: 0;
    }

    .filter-container {
      background-color: #ffffff;
      box-shadow: 1px 1px 10px 0 rgba(219, 219, 219, 0.5);

      .filters-wrapper {
        .filter-row {
          display: flex;
          flex-wrap: wrap;

          .jn-select {
            width: 25%;
            margin-top: 0;
            padding-bottom: 0;
            .select-display {
              border-top: none;
              border-right: none;
              flex: 1;
              input {
                margin: 0 -20px;
              }

              i,
              span {
                font-size: 20px;
                width: 20px;
                height: 20px;
                margin-left: 20px;
              }

              span {
                margin-right: 20px;
                margin-left: 0;
              }
            }

            &:first-child,
            &:nth-child(5) {
              .select-display {
                border-left: none;
              }
            }
          }
        }
      }
      .search-wrapper {
        display: flex;
        padding: 5px;
        .jn-input-wrapper {
          margin: 0;
          padding: 0;
          flex: 1;
          .input-wrapper {
            flex: 1;
            input {
              width: 100%;
              border: none !important;
            }
          }
          &.is-focused input {
            border: none !important;
            box-shadow: none;
          }
        }
        .jn-btn {
          a {
            padding: 18px 70px;
            font-family: 'Roboto';
            height: 55px;

            i {
              font-size: 19px;
              margin-right: 7px;
            }
          }
        }
      }
    }

    .candidates-container {
      background-color: #ffffff;
      box-shadow: 1px 1px 10px 0 rgba(219, 219, 219, 0.5);
      margin-top: 10px;
      flex: 1;
      display: flex;
      flex-direction: column;

      .candidate-item {
        display: flex;
        flex: 1;
        padding: 20px 30px;
        border-bottom: solid 1px #e0e0e0;

        .col {
          width: 25%;
          > div {
            padding: 6px 0;
          }
          &.main-info {
            font-family: Roboto;
            font-size: 15px;
            color: #212529;

            .job-title {
              font-size: 16px;
              font-weight: 500;
            }
          }

          &.other-info {
            font-weight: 300;
            color: #212529;
            font-size: 14px;

            i {
              font-size: 16px;
              color: #787e8c;
              margin-right: 12px;
            }

            > div {
              font-family: Roboto;
              &.cv-file {
                span {
                  color: #fc5830;
                }
              }
            }
          }
        }
      }
    }
  }
}
