.jn-date-seletor {
    display: flex;
    justify-content: space-between;

    .jn-select {
        width: 10rem;
        margin-top: 0;

        &:first-child {
            margin-right: .8rem;
        }

        input {
            text-align: center;
            margin-right: -1.5rem!important;
        }

        .field-body > .select-display-wrapper > .dropdown-menu {
            top: 100% !important;
            width: 10rem;
            min-width: 10rem;
           > ul {
            width: 10rem;
           }
        }
    }
}