.job-item-wrapper {
  display: flex;
  padding: 1.6rem 0;
  width: 100%;

  .company-logo {
    width: 6.7rem;
    height: 6.7rem;
    min-width: 6.7rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 6.7rem;
    }
  }

  .info-wrapper {
    width: 100%;
    display: flex;

    .job-info {
      padding: 0 1.6rem;

      a {
        color: initial;
        display: inline-block;

        &:hover,
        &:active,
        &:focus {
          color: initial;
        }
      }

      .job-title {
        font-family: Roboto;
        font-size: 1.4rem;
        font-weight: bold;
        color: #4a4a4a;
        margin-bottom: 0.8rem;
      }

      .company-name {
        font-size: 1.4rem;
        font-weight: 300;
        color: #4a4a4a;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(50vw - 32rem);
        overflow: hidden;
        margin-bottom: 0.6rem;
      }
    }

    .extra-info {
      margin-left: initial;
      width: 12rem;

      [class^='icon-jn-'] {
        font-size: 1.3rem;
        font-weight: 900;
        color: #9b9b9b;
        margin-right: 0.8rem;
      }

      .location {
        margin-bottom: 0.8rem;
        .distance {
          font-size: 1.4rem;
          font-weight: bold;
          color: #fc5830;
        }
      }

      .salary {
        .salary-level {
          font-size: 1.4rem;
          font-weight: normal;
          color: #4a4a4a;
        }
      }

      &.has-slot-number {
        flex-wrap: wrap;
        .slot-number-wrapper {
          width: 100%;
          background-color: #fc5830;
          font-size: 12px;
          font-weight: normal;
          color: #ffffff;
          height: 1.8rem;
          border-radius: .9rem;
          justify-content: center;
          align-items: center;
          margin-top: .8rem;
          margin-left: 2.8rem;
          margin-right: 2.8rem;
          display: flex;

          @media (max-width: 480px) {
            width: auto;
          }

          .text {
            font-size: 1.3rem;
            font-weight: 300;
            display: inline-block;
            margin-left: .6rem;
          }

          .number {
            font-size: 1.3rem;
            font-weight: bold;
            display: inline-block;
            margin-left: .6rem;
          }
        }
      }
    }
  }

  &.flashjob-item {
    padding: 3rem  1.6rem!important;
    height: auto !important;
    .info-wrapper {
      flex-direction: row !important;
      flex-wrap: wrap;
      > div:first-child {
        width: 100%;
      }

      .extra-info {
        flex: 1;
        .slot-number-wrapper {
          background-color: #fc5830;
          font-size: 12px;
          font-weight: normal;
          color: #ffffff;
          height: 1.8rem;
          border-radius: .9rem;
          justify-content: center;
          align-items: center;
          display: flex;
          padding: 0 .8rem;
          margin-top: .8rem;

          .text {
            font-size: 1.3rem;
            font-weight: 300;
            display: inline-block;
            margin-left: .6rem;
          }

          .number {
            font-size: 1.3rem;
            font-weight: bold;
            display: inline-block;
            margin-left: .6rem;
          }
        }
      }

      .button-wrapper {
        display: flex;
       justify-content: flex-end;
       align-items: flex-end;
        
        .jn-btn {
          height: 4rem;
  
          a {
            padding: 0 2rem;
            line-height: 4rem;
            font-size: 1.4rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
