.edit-cv-page {
  .main-content {
    .page-wrapper {
      .interest-info {
        margin-top: 1rem;

        .block-container {
          .block-body {
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;

            .title-wrapper {
              .info-value {
                color: #fc5830;
              }
            }

            .info-line {
              display: flex;
              font-family: Roboto;
              font-size: 1.4rem;
              line-height: 2.14;
              color: #4a4a4a;
              .info-title {
                font-weight: 300;
                margin-right: 0.6rem;
              }

              .info-value {
                font-weight: bold;
              }
            }

            .main-info-wrapper {
              display: flex;
              flex-wrap: wrap;
              flex: 1;
              justify-content: space-between;

              .col {
                margin-right: 3.6rem;
                flex: 1;
              }
            }
          }
        }

        .create-cv-container {
          padding: 2rem 0 2rem 3rem;

          .header-page {
            border-bottom: none;
          }
        }

        @media (max-width: 767px) {
          .main-info-wrapper {
            flex-direction: column;
          }

          .col {
            margin-right: 0;

            .info-line {
              flex-wrap: wrap;
            }
          }
        }

        @media (max-width: 480px) {
          .block-body {
            padding: 2rem 2.4rem !important;
          }
          .title-wrapper .info-line {
            flex-direction: column;
          }
        }
      }
    }
  }
}
