.home-page {
  .page-wrapper {
    width: 100%;
    max-width: 100vw;
    background-color: #fafafa;

    &.loading-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 20rem;
    }

    .list-slider {
      margin-top: 2.4rem;
      @media (max-width: 767px) {
        margin-top: 2rem;
      }

      .title {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.4;
        color: #fc5830;

        @media (max-width: 767px) {
          font-size: 1.6rem;
        }
      }

      .block-content {
        background-color: #fff;
        box-shadow: 0.1rem 0.1rem 1rem 0 rgba(219, 219, 219, 0.5);
        padding-bottom: 1.5rem;

        .detail-link-wrapper {
          text-align: center;
          font-size: 1.5rem;

          span {
            font-weight: 300;
            color: #4a4a4a;
          }

          a,
          a:hover,
          a:active,
          a:focus {
            font-weight: bold;
            color: #fc5830;
            text-transform: uppercase;
            margin-left: 0.6rem;
          }
        }
      }

      .job-slider-block {
        padding: 0 2.2rem 4rem 2.2rem;
        @media (max-width: 767px) {
          padding: 0 0 4rem 0;
        }

        .slide-group-items {
          .slide-item-wrapper {
            display: flex;
            border-bottom: solid 0.5px #e3e3e3;
            box-sizing: border-box;

            &.empty-item {
              border-left: none;
              border-right: none;
            }
          }
        }

        .slick-dots {
          bottom: -3rem;
        }
      }

      &.attractive-jobs {
        .slide-item-wrapper {
          &:nth-child(even) {
            border-left: solid 0.5px #e3e3e3;
            padding-left: 5rem;
            @media (max-width: 992px) {
              padding-left: 2.5rem;
            }
          }

          &:nth-child(odd) {
            padding-right: 5rem;

            @media (max-width: 992px) {
              padding-right: 2.5rem;
            }
          }

          @media (max-width: 767px) {
            width: 100%;

            .company-name {
              width: calc(100vw - 32rem);
            }

            &:nth-child(even) {
              border-left: none;
              padding-left: 0;
            }

            &:nth-child(odd) {
              padding-right: 0;
            }

            .job-item-wrapper {
              padding-right: 0.6rem;
              .job-info {
                padding-right: 0;
              }
              .job-title,
              .company-name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: calc(100vw - 24rem);
              }

              .extra-info {
                margin-left: 1.6rem;
              }
            }
          }
        }
      }

      &.fast-jobs {
        .slide-item-wrapper {
          width: 33.3%;

          @media (max-width: 1199px) and (min-width: 768px) {
            width: 50%;
          }

          @media (max-width: 767px) {
            width: 100%;
          }

          .job-item-wrapper {
            justify-content: center;
            align-items: center;

            .info-wrapper {
              flex-direction: column;
              margin-left: 1.5rem;
              .job-info {
                padding: 0;

                .company-name {
                  width: calc(33vw - 15.1rem);
                }
              }

              .extra-info {
                display: flex;
                margin-left: initial;
                width: initial;
                
                .location,
                .salary {
                  margin-bottom: 0;
                }

                .location {
                  margin-right: 3rem;
                }
              }
            }

            @media (max-width: 1199px) and (min-width: 768px) {
              .info-wrapper {
                .job-info {
                  .company-name {
                    width: calc(50vw - 15.1rem);
                  }
                }
              }
            }
            @media (max-width: 767px) {
              justify-content: initial;
              align-items: initial;
              .info-wrapper {
                flex-direction: row;
                .job-info {
                  .job-title,
                  .company-name {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: calc(100vw - 24rem);
                  }
                }

                .extra-info {
                  flex-direction: column;
                  margin-left: 1.6rem;
                }
              }
            }
          }

          &:nth-child(3n + 2) {
            border-left: solid 0.5px #e3e3e3;
            padding: 0 1.8rem;
          }

          &:nth-child(3n + 3) {
            border-left: solid 0.5px #e3e3e3;
            padding-left: 1.8rem;
          }

          @media (max-width: 1199px) and (min-width: 768px) {
            &:nth-child(3n + 2) {
              border-left: none;
              padding: 0;
            }

            &:nth-child(3n + 3) {
              border-left: none;
              padding-left: 0;
            }

            &:nth-child(2n + 2) {
              border-left: solid 0.5px #e3e3e3;
              padding-left: 1.8rem;
            }

            &:nth-child(2n + 1) {
              border-left: none;
              padding-right: 1.8rem;
            }
          }

          @media (max-width: 767px) {
            &:nth-child(2n + 2) {
              border-left: none;
              padding-left: 0;
            }
            &:nth-child(3n + 3) {
              border-left: none;
              padding-left: 0;
            }
            &:nth-child(3n + 2) {
              border-left: none;
              padding: 0;
            }
          }
        }
      }

      &.marketing-jobs {
        .block-content {
          padding: 0;
          position: relative;

          .view-all-marketing-jobs {
            position: absolute; right: 3rem;
            top: -2.4rem;

            a {
              display: flex;
              align-items: center;
              color: #fc5830;
              font-size: 1.4rem;
              font-weight: 300;
            }
          }

          .job-slider-block {
            padding: 0;


          }
        }
        .maketing-jobs-title {
          display: flex;
          align-items: center;

          .jn-awesome-bolt {
            margin-right: 0.6rem;
          }

          .countdown-wrapper {
            margin-left: 3rem;
            display: flex;
            align-items: center;

            > span {
              font-size: 2rem;
              font-weight: normal;
              color: #4a4a4a;
            }
            .Countdown-col-element {
              font-size: 1.5rem;
            }
          }
        }

        .slide-item-wrapper,
        .slick-slider {
          .slick-arrow {
            background-color: #d8d8d8;
            z-index: 99;
            height: 4rem;
            width: 2.4rem;

            &.slick-prev {
              left: -1.2rem;
            }

            &.slick-next {
              right: -1.2rem;
            }
          }
        }
        .slick-track {
          display: flex;
          // height: 20.6rem;

          .slick-slide {
            display: flex;
            align-items: center;
            border-right: solid 0.5px #e3e3e3;

            > div {
              width: 100%;
            }

            .job-item-wrapper {
              padding: 1rem 0;

              &.last-active, &.disable-right-border {
                border-right: none;
              }
              
              .extra-info {
                width: 100%;
                padding: 0 1.6rem;

                [class^='icon-jn-'] {
                  margin-right: .4rem;
                }

                .slot-number-wrapper {
                  margin: 0;

                  @media (max-width: 480px) {
                    margin-top: 1rem;
                  }
                }
              }
            }
          }

          .job-item-wrapper {
            flex: 1;
            flex-direction: column;
            justify-content: center;
            padding: 0 0.8rem 0 2rem;

            &.first-active {
              .location, .salary {
                margin-left: 1rem;
              }
            }

            .company-logo {
              margin: 0 auto;
              width: 10rem;
              height: 10rem;
              margin-bottom: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
              }
            }

            .info-wrapper {
              flex-direction: column;

              .job-info {
                padding: 0;
                justify-content: center;
                display: flex;

                .job-title {
                  white-space: nowrap;
                  width: calc(15vw);
                  overflow: hidden;
                  text-overflow: ellipsis;
                  text-align: center;
                }
              }
            }
            .company-name {
              display: none;
            }

            .extra-info {
              margin-top: 1.2rem;
              display: flex;
              margin-left: initial;
              justify-content: space-around;
            }
          }
        }

        .slide-item-wrapper {
          &.no-slider {
            display: flex;
            padding: 0 2rem;

            .job-item-wrapper,
            .info-wrapper {
              display: flex;
              flex-direction: column;
            }

            .job-item-wrapper {
              justify-content: center;
              align-items: center;
              max-width: 22rem;
              padding-right: 1.6rem;
              padding-left: 1.6rem;
              border-right: solid 0.5px #e3e3e3;

              &:first-child {
                padding-left: 0;
              }

              &:last-child {
                padding-right: 0
              }

              &:last-child {
                border-right: none;
              }
            }

            .company-logo {
              width: 15.2rem;
              height: 5.2rem;
              overflow: hidden;
              margin-bottom: 2.4rem;

              img {
                width: 100%;
              }
            }

            .job-info {
              padding: 0;
            }

            .company-name {
              width: initial;
            }

            .extra-info {
              margin-top: 1.4rem;
              margin-left: initial;
              display: flex;
              justify-content: space-between;
            }
          }
        }

        @media (max-width: 767px) {
          .block-content .view-all-marketing-jobs {
            right: 0;
          }
          .maketing-jobs-title {
            flex-direction: column;
          }

          .slick-track .job-item-wrapper {
            .info-wrapper .job-info .job-title {
              width: calc(50vw - 5rem);
            }
            .extra-info {
              flex-direction: column;
              text-align: center;
            }
          }
        }

        @media (max-width: 479px) {
          .slick-track .job-item-wrapper {
            border-right: none !important;

            .info-wrapper .job-info .job-title {
              width: calc(100vw - 5rem);
            }
          }
        }
      }

      &.latest-jobs {
        .slide-item-wrapper {
          width: 33.3%;

          .job-slider-block {
            padding-bottom: 1.5rem;
          }

          .job-item-wrapper {
            justify-content: center;
            align-items: center;
          }

          .info-wrapper {
            flex-direction: column;
            margin-left: 1.5rem;
            .job-info {
              padding: 0;

              .company-name {
                width: calc(33vw - 9rem);
              }
            }

            .extra-info {
              display: flex;
              margin-left: initial;
              .location,
              .salary {
                flex: 1;
              }
            }
          }

          &:nth-child(3n + 1),
          &:nth-child(3n + 2) {
            padding-right: 3rem;
          }
        }

        @media (max-width: 1199px) and (min-width: 768px) {
          .slide-item-wrapper {
            width: 50%;
            .info-wrapper .job-info .company-name {
              width: calc(50vw - 7.5rem);
            }
          }
        }

        @media (max-width: 767px) {
          .slide-item-wrapper {
            width: 100%;
            .info-wrapper .job-info .company-name {
              width: calc(100vw - 6rem);
            }
          }
        }
      }

      @media (max-width: 767px) {
        .detail-link-wrapper {
          display: flex;
          flex-direction: column;
          font-size: 1.3rem !important;
          a {
            margin-top: 0.8rem;
          }
        }
      }
    }
  }
}
