.search-page {
  #app_wrapper #content_outer_wrapper {
    min-height: 100vh;
  }
  .page-wrapper {
    display: flex;
    flex: 1;

    &.loading {
      justify-content: center;
      align-items: center;
    }

    .filters-wrapper {
      display: flex;
      padding: 1.5rem 1.5rem 1.5rem 3rem;
      align-items: center;
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      z-index: 1;
      position: fixed;
      width: 100%;

      .filters {
        display: flex;
        flex: 1;
      }
      .jn-select {
        flex: 1;
        margin-top: 0;
        margin-right: 1.4rem;
        input {
          height: 3.8rem;
        }

        .dropdown-menu {
          top: 3.8rem;
        }
      }

      .clear-filters {
        width: 5rem;
        a,
        a:hover,
        a:active,
        a:focus {
          font-size: 13px;
          font-weight: 300;
          text-align: center;
          color: #fc5830;
        }
      }
    }

    .main-content {
      flex-direction: column;

      .map-wrapper {
        height: calc(100vh - 13rem);
        position: fixed;
        right: 0;
        top: 13rem;
        width: 40%;
        background-color: #ffffff;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);

        > div {
          height: 100% !important;
        }

        .info-box.job-item-wrapper {
          background-color: #ffffff;
          max-width: 40rem;
          position: relative;
          padding: 1rem 0.5rem;
          box-shadow: 1px 1px 10px 0 rgba(95, 95, 95, 0.205);

          .company-name {
            white-space: nowrap;
            max-width: 28rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .info-wrapper {
            flex-direction: column;

            .extra-info {
              margin-left: initial;
              display: flex;
              justify-content: space-between;
              padding: 0 1.6rem;

              .location {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .page-content {
        width: 60%;
        margin-top: 7.8rem;

        .pagination-wrap {
          display: flex;
          justify-content: center;
        }

        .jobs-list-wrapper {
          margin: 0 1rem 1rem 3rem;
          min-height: calc(100vh - 58.2rem);

          .jobs-list {
            background-color: #ffffff;
            box-shadow: 1px 1px 10px 0 rgba(219, 219, 219, 0.5);
            padding: 0 3.6rem 0 1.6rem;
            margin-bottom: 1.2rem;

            .list-header {
              display: flex;
              font-size: 1.4rem;
              font-weight: 300;
              color: #4a4a4a;
              align-items: center;
              padding: 0.7rem 3.6rem 0.7rem 1.6rem;
              border-bottom: solid 0.1rem #e3e3e3;
              margin-left: -1.6rem;
              margin-right: -3.6rem;
              flex-wrap: wrap;

              .order-wrapper {
                display: flex;
                flex: 1;
                margin-left: 2.4rem;

                .options-wrapper {
                  min-width: 31.6rem;
                }

                a,
                a:hover,
                a:active,
                a:focus {
                  height: 4rem;
                  width: 10rem;
                  line-height: 4rem;
                  color: #4a4a4a;
                  background-color: #e3e3e3;
                  display: inline-block;
                  text-align: center;
                  margin-right: 0.8rem;
                  &:last-child {
                    margin-right: 0;
                  }

                  &.active {
                    color: #ffffff;
                    background-color: #fc5830;
                  }
                }
              }

              .result-number {
                padding: 1.6rem 0;
                flex: 1;
                text-align: center;
                min-width: 15rem;

                .number {
                  font-weight: bold;
                  color: #fc5830;
                }
              }
            }

            .job-item-wrapper {
              border-bottom: solid 1px #e3e3e3;
              .extra-info {
                margin-left: initial;
                width: 10rem;
              }
              .job-info {
                flex: 1
              }
              &:last-child {
                border-bottom: none;
              }

              .job-title {
                font-size: 14px;
                font-weight: 300;
                color: #4a4a4a;
              }

              .distance {
                font-size: 14px;
                font-weight: 300;
                color: #fc5830;
              }

              &.featured-job {
                .job-title {
                  font-weight: bold;
                  color: #fc5830;
                }

                .distance {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    .col {
      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }
    }
  }

  @media (max-width: 991px) {
    .page-wrapper {
      .filters-wrapper {
        display: none;
      }
      .main-content {
        flex-direction: column-reverse;

        .map-wrapper {
          position: relative;
          width: 100%;
          top: initial;
          right: initial;
          height: 40vh;
        }

        .page-content {
          width: 100%;
          margin-top: 0;

          .jobs-list-wrapper {
            margin: 0;
            min-height: calc(100vh - 54.2rem);
            .jobs-list {
              padding: 0;
              .list-header {
                padding: 1.5rem;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 0;
                margin-right: 0;
                width: 100%;

                .order-wrapper {
                  margin-left: 0;
                  margin: 1rem 0;
                  width: 100%;

                  .options-wrapper {
                    display: flex;
                    width: 100%;
                  }

                  a,
                  a:focus,
                  a:active,
                  a:hover {
                    flex: 1;
                    width: auto;
                  }
                }
              }

              .job-item-wrapper {
                padding: 1.6rem 1.5rem 1rem 1.5rem;
                .company-name {
                  width: calc(100vw - 23rem);
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .jobs-list-wrapper .jobs-list .list-header .order-wrapper .options-wrapper {
      min-width: 0 !important;
    }
  }
}
