.viewed-candidates-page {
  .candidates-container {
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 0 rgba(219, 219, 219, 0.5);
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (max-width: 992px) {
      margin-left: 0;
    }

    .header-page {
      background-color: #fc5830;
      display: flex;
      color: #ffffff;
      padding: 12px 24px;
      .filters-wrapper,
      .position-applied {
        display: flex;
      }

      .page-label {
        flex: 1;
        justify-content: center;
        display: flex;
        flex-direction: column;

        .main-label {
          display: flex;
          .label-text {
            font-size: 20px;
            font-weight: 500;
          }

          span {
            margin-right: 8px;
            font-size: 20px;
          }
        }

        .cv-text {
          font-weight: 300;
          margin-left: 25px;
          margin-top: 5px;
          .cv-number {
            font-weight: 500;
            margin: 0 5px;
          }
        }
      }

      .filters-wrapper {
        flex: 3;
        justify-content: flex-end;

        .position-applied {
          align-items: center;
          > span {
            font-size: 16px;
            font-weight: 300;
          }
        }

        .jn-select {
          flex: 1;
          margin-left: 15px;
          margin-top: 0;
          padding-bottom: 0;

          .select-display {
            border: solid 1px #e0e0e0;
            flex: 1;
            span {
              color: #979797;
              font-size: 20px;
            }
          }

          input {
            background-color: #fffefe;
            color: #464646;
          }
        }
      }
    }

    .list-header {
      padding: 0;
      .list-header-wrapper {
        display: flex;
        background-color: #e0e0e0;
        height: 60px;
        align-items: center;
        padding: 0 30px;
        > div {
          flex: 1;
          font-family: Roboto;
          font-size: 16px;
          font-weight: normal;
          color: #212529;
          text-align: center;

          &.col-candidate {
            flex: 2;
            text-align: left;
          }
        }
      }
    }

    .candidate-item {
      display: flex;
      flex: 1;
      padding: 20px 30px;
      border-bottom: solid 1px #e0e0e0;
      align-items: center;

      .col {
        // width: 25%;
        flex: 1;
        text-align: center;
        > div {
          padding: 6px 0;
        }
        &.main-info {
          font-family: Roboto;
          font-size: 15px;
          color: #212529;

          .job-title {
            font-size: 16px;
            font-weight: 500;
          }
        }

        &.col-candidate {
          flex: 2;
          text-align: left;
        }

        &.other-info {
          font-weight: 300;
          color: #212529;
          font-size: 14px;

          i {
            font-size: 16px;
            color: #787e8c;
            margin-right: 12px;
          }
        }
      }
    }
    .excel-export-btn {
      position: absolute;
      bottom: 17px;
      left: 285px;

      a {
        padding: 15px 50px;
        background: #ffffff;
        font-size: 16px;
        font-weight: 500;
        color: #212529;
        text-transform: none;
        border-radius: 2px;
        border: solid 1px #e0e0e0;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}
