.create-cv-container {
  .successfull-create-cv {
    padding: 0.8rem 1rem;
    .content-header {
      font-size: 1.8rem;
      color: #fc5830;
      font-weight: bold;
    }
    .content-label {
      margin-top: 3.2rem;
      margin-bottom: 6.2rem;
      line-height: 1.71;
      font-size: 1.4rem;
      color: #4a4a4a;
    }

    .jn-btn {
      max-width: 29.4rem;
    }
    .jn-btn__normal {
      margin-top: 4rem;
      & a,
      & a:focus,
      & a:hover {
        color: #4a4a4a;
      }
    }
  }
}
