.jn-list-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  .list-header {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    color: #212529;
    padding: 25px 30px;
    border-bottom: solid 1px #e0e0e0;
  }

  .list-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.has-data {
      justify-content: flex-start;
    }

    .empty-message {
      font-size: 16px;
      font-weight: 300;
      color: #212529;
      text-align: center;
    }

    .list-item-wrapper {
      width: 100%;
      &:last-child {
        border-bottom: none;
        > a {
          border-bottom: none;
        }
      }
    }
  }

  .list-footer {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #e0e0e0;

    .pagination-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .page-control-wrapper {
        width: 6rem;
        margin: 0 1rem;
      }

      .page-item {
        margin-right: 5px;

        a,
        a:hover,
        a:active {
          width: 40px;
          height: 40px;
          border-radius: 2px;
          background-color: #e0e0e0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: 212529;
          font-family: Roboto;
        }
        &:last-child {
          margin-right: 0;
        }

        &.active {
          a,
          a:hover,
          a:active {
            color: #ffffff;
            background-color: #fc5830;
          }
        }
      }
    }
  }
}
