#app_wrapper {
  footer {
    border-top: solid 0.5rem #fc5830;
    padding: 0 3rem;
    text-align: left;
    background-color: #fff;
    margin-top: 1.8rem;

    .col-wrapper {
      padding: 4rem 0;
      display: flex;
      flex-wrap: wrap;

      .col {
        flex: 1;

        @media (max-width: 1199px) {
          width: 33.3%;
          flex: none;

          &:nth-child(4),
          &:nth-child(5) {
            margin-top: 3rem;
          }
        }

        .col-title {
          font-size: 1.4rem;
          font-weight: bold;
          color: #4a4a4a;
          text-transform: uppercase;
        }
        .col-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-top: 1.2rem;

          a {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.67;
            color: #4a4a4a;

            span img {
              margin: 0.2rem 0;
              width: 1.4rem;
              margin-right: 1rem;
            }
          }

          &.socials a span {
            margin-right: 1rem;
          }

          &.apps {
            flex-direction: row;
            .app-links {
              margin-left: 1rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              align-content: space-between;
              flex-wrap: wrap;
              a {
                display: flex;

                &:first-child {
                  margin-bottom: 1.5rem;
                }
              }
            }
          }
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }

    .company-info {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.4;
      color: #4a4a4a;
      padding: 2.5rem 0;
      border-top: solid 0.1rem #e3e3e3;
      text-align: center;
      font-family: 'Roboto';

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
          height: 2.6rem;
        }
        h3 {
          font-weight: 300;
          font-family: 'Roboto';
          font-size: 1.7rem;
          line-height: 1.24;
          margin: 0;
          padding-left: 0.5rem;
          color: #4a4a4a;
        }
      }

      @media (max-width: 767px) {
        font-size: 1.2rem;
        line-height: 1.62;
        h3 {
          font-size: 1.3rem !important;
        }

        .cp-right {
          font-size: 1.2rem;
          font-style: italic;
        }
      }
    }

    @media (max-width: 767px) {
      padding: 0 1.5rem;
    }
  }
}
