.create-cv-container {
  &.reference {
    margin-top: 1.6rem;
    box-shadow: 1px 1px 10px 0 rgba(219, 219, 219, 0.5);
    background-color: #fff;

    .header-page {
      height: 4.8rem;
      border-bottom: solid 0.1rem #e3e3e3;
      display: flex;
      align-items: center;
      padding: 0 3.5rem;

      .header-content {
        padding: 0 !important;
        flex-wrap: wrap;
        .label-text {
          font-size: 1.8rem;
          font-weight: bold;
        }
      }
    }

    .reference-info-wrapper {
      min-height: 4rem;
      padding-left: 3rem;
      font-size: 1.4rem;
      color: #9b9b9b;
      font-style: italic;
      padding: 2rem 3rem;
      display: flex;

      .ref-info-container {
        flex: 1;
        font-style: normal;
        font-size: 1.4rem;
        line-height: 1.57;
        color: #4a4a4a;

        .ref-name,
        .field-label {
          font-weight: 300;
        }

        .separator-text {
          margin-left: 0.6rem;
        }

        .field-value {
          font-weight: 900;
          margin-left: 0.6rem;
        }
      }
    }

    .actions-wrapper {
      width: 6rem;
      .jn-btn {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 2rem;
        a {
          font-size: 1.4rem;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #fc5830;

          .btn-title {
            margin-left: 0.8rem;
          }
        }
      }
    }

    &:hover {
      .reference-info-wrapper {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #c5c5c5;
      }
      .actions-wrapper {
        .jn-btn {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .hobby-content-wrapper {
      padding: 2rem 3rem;

      .input-section {
        flex-direction: column;
        .update-actions-wrapper {
          display: flex;
          .jn-btn {
            a {
              padding: 0;
              line-height: 4rem;
            }
          }
          .jn-btn__yellow {
            margin-top: 0;
          }

          .jn-btn__normal {
            border-radius: 0.2rem;
            text-align: center;
            width: 18.6rem;
            background-color: #e3e3e3;
            margin-left: 2rem;

            a {
              background-color: #e3e3e3;
              color: #4a4a4a;
              font-weight: 300;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      .hobby-content-wrapper {
        padding: 0;
      }
    }
  }

  .optional {
    font-size: 1.5rem;
    font-weight: 300;
    color: #9b9b9b;
    margin-left: 2.6rem;
  }

  
}
