.register-page {
  display: flex;
  flex: 1 1;
  .register-container {
    display: flex;
    flex: 1 1;
    background-image: url('/assets/img/new-background.png');
    background-size: cover;
    .modal-body {
      width: 550px;
      height: 780px;
      padding: 4.5rem 5.4rem;
      border-radius: 3px;
      box-shadow: 1px 1px 10px 0 rgba(219, 219, 219, 0.5);
      background-color: #ffffff;
      margin-top: 4.2rem;
      margin-left: auto;
      margin-right: 3.1rem;
    }
      .header {
        font-size: 30px;
        font-weight: bold;
        color: #4a4a4a;
        padding-top: 23px;
      }
      .back-button {
        text-align: left;
        .back-button-text {
          font-family: sans-serif;
          font-size: 12px;
          color: #262262;
          display: flex;
          align-items: center;
        }
      }
       .icon-arrow-left:before {
         font-size: 17px;
       }
      #auth-form {
        .jn-input-wrapper {
          padding-top: 30px;
          a {
            top: 10px;
          }
          .input-password {
            display: block;
          }
          .help-block {
            margin-bottom: 0;
            margin-top: .8rem;
            font-size: 1.2rem;
            font-weight: 300;
            color: #d0021b!important;
          }
        }
        .form-control {
          background-color: #f5f5f5;
          font-size: 16px;
          color: #4a4a4a
        }
      }
      .extra-options {
        display: flex;
        margin-bottom: 43px;
        margin-top: 22px;
        .jn-checkbox {
          a {
            font-size: 1.4rem;
            font-weight: normal;
            color: #444444;
          }
          .checkbox .checkbox-material .check,
          label.checkbox-inline .checkbox-material .check {
            width: 1.8rem;
            height: 1.8rem;
            border: solid 1px #e1e1e1;
          }
        }

        .forgot-pwd {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          a,
          a:hover,
          a:active,
          a:focus {
            font-size: 1.4rem;
            font-weight: 300;
            color: #2f0e73;
          }
        }
      }
      .jn-btn__yellow a {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0;
        line-height: 4rem;
      }
      .register-legend {
        margin-top: 19px;
        margin-bottom: 1.2rem;
        display: flex;
        span.legend {
          font-family: Roboto;
          font-size: 1.4rem;
          color: #464646;
        }

        a,
        a:hover,
        a:active,
        a:focus {
          color: #262262;
          font-size: 1.4rem;
          margin-left: 0.6rem;
          margin-right: 0.6rem;
        }
      }
      .social-login {
        margin-top: 158px;
        display: flex;
        align-items: center;
        span.legend {
          font-family: Roboto;
          font-size: 1.4rem;
          color: #464646;
        }
        span.icon-jn-facebook {
          width: 54px;
          height: 54px;
          background-color: #3b5998;
          color: #ffffff;
          align-items: center;
          font-size: 25px;
          text-align: center;
          border-radius: 27px;
          margin-left: 24px;
        }
        .icon-jn-facebook:before {
          vertical-align: -50%;
        }
        span.icon-social-google {
          width: 54px;
          height: 54px;
          background-color: #ea4335;
          color: #ffffff;
          align-items: center;
          font-size: 25px;
          text-align: center;
          border-radius: 27px;
          margin-left: 24px;
        }
        .icon-social-google:before {
          vertical-align: -50%;
        }
      }
  }
}
