.profile-container {
  display: flex;
  flex-flow: column;
  font-family: Roboto;
  width: 100%;
  margin-right: 3.2rem;
  background-color: #ffffff;
  flex: 1;
  color: #212529;
  font-size: 1.4rem;
  margin-top: 1rem;

  box-shadow: 0.1rem 0.1rem 1rem 0 rgba(219, 219, 219, 0.5);
  .header-page {
    width: 100%;

    border-bottom: 0.1rem solid #e0e0e0;
    .header-content {
      display: flex;
      background-color: #ffffff;
      align-items: center;
      .page-label,
      .tabs-wrapper {
        display: flex;
        align-items: center;

        .xc-tab {
          background-color: white;
          & a {
            font-size: 1.5rem;
            text-transform: uppercase;
            background-color: white;
            font-weight: bold;
          }

          & .active {
            color: #fc5830;
            border-bottom: 0.2rem solid #fc5830;
          }
        }
      }

      .tabs-wrapper {
        flex: 1 1 auto;
      }

      .page-label {
        flex: 1 1 rem;
        .main-label {
          padding-top: 1.4rem;
          padding-left: 2.5rem;
          padding-bottom: 1.4rem;
          .label-text {
            font-size: 2rem;
            font-weight: 500;
            color: #444444;
          }

          span {
            margin-right: 0.8rem;
            font-size: 2rem;
          }
        }
      }
      .right-button {
        justify-content: flex-end;
        display: flex;
        flex: 1;

        .jn-btn {
          margin-right: 3rem;
          height: 4rem;
          min-width: 25.6rem;

          & a,
          & a:focus {
            padding: 1.2rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .body-page {
    display: flex;
    min-height: 37rem;
    padding: 3.2rem;
    flex: 1;
    .jn-file-uploader {
      width: 100%;
    }
    .upload-file-box {
      display: flex;
      flex: 1;
      justify-content: center;
      border: 1px dotted #fc5830;
      align-items: center;
      .cv-info {
        margin-left: 6rem;
        font-size: 1.4rem;
        font-weight: 300;

        .title {
          color: #4a4a4a;
        }
        .file-name {
          color: #fc5830;
        }
        .jn-btn {
          margin-top: 3rem;
          height: 4rem;
          min-width: 17.5rem;

          & a,
          & a:focus {
            padding: 1.2rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
