.apply-popup-wrapper {
  .fast-apply-wrapper {
    margin-bottom: 2.8rem;

    &.step-1 {
      margin-left: 0.4rem;
      margin-right: 0.4rem;

      .creating-cv-wrapper {
        margin-top: 3.5rem;
        .field-title {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 300;
          color: #212529;
        }
        .creating-cv-btn {
          margin-top: 1rem;
        }
      }
    }

    &.step-2 {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

    .step2-wrapper {
      span.required {
        font-size: 1.5rem !important;
        font-weight: normal;
        color: #d0021b;
      }

      .jn-input-wrapper {
        margin-top: 1.8rem;

        label.control-label {
          font-size: 1.4rem;
          font-weight: 300;
          font-style: normal;
          color: #4a4a4a;
          padding-top: 1rem;
        }

        input.form-control {
          height: 4rem;
        }

        .input-wrapper {
          flex-direction: column;
          align-items: flex-start;
        }

        .help-block {
          position: relative;
          margin-bottom: 0;
          margin-top: 0.8rem;
          font-size: 1.2rem;
          font-weight: 300;
          color: #d0021b !important;
        }
      }

      .cv-upload-wrapper {
        margin-top: 1.8rem;

        .field-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .label {
          font-family: Roboto;
          font-size: 1.4rem;
          font-weight: normal;
          color: #4a4a4a;
          background-color: transparent;
          text-transform: none;
          padding: 0;
        }

        .upload-wrapper {
          label {
            width: 20.5rem;
            height: 4rem;
            background-color: #e3e3e3;
            border: solid 0.1rem #e3e3e3;
            line-height: 4rem;
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            color: #4a4a4a;

            .filename-wrapper {
              display: flex;
              border-bottom: 1px solid #fc5830;
              height: 3rem;
              color: #fc5830;

              .file-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 19.5rem;
              }
            }
          }
          input {
            display: none;
          }

          &.selected-file {
            label {
              background-color: transparent;
              border: none;
            }
          }
        }

        .help-block {
          position: relative;
          margin-bottom: 0;
          margin-top: 0.8rem;
          font-size: 1.2rem;
          font-weight: 300;
          color: #d0021b !important;
        }
      }

      .jn-btn__yellow {
        margin-top: 1.8rem !important;
      }

      .error-msg {
        position: relative;
        margin-bottom: 0;
        margin-top: 1.2rem;
        font-size: 1.4rem;
        font-weight: 300;
        color: #d0021b !important;
      }
    }

    &.step-3 {
      margin-bottom: 0;
      .success-msg {
        font-size: 1.4rem;
        color: #1ebea5;
        text-align: center;
      }
    }
  }

  &.logged-in {
    .step-1 {
      .fast-apply-btn-wrapper {
        margin-top: 5rem;
      }
    }
  }
}
