.job-list-container {
  display: flex;
  flex-flow: column;
  font-family: Roboto;
  width: 100%;
  background-color: #ffffff;
  flex: 1;
  color: #4a4a4a;
  font-size: 1.4rem;
  margin-top: 1rem;

  .header-page {
    width: 100%;
    box-shadow: 0.1rem 0.1rem 1rem 0 rgba(219, 219, 219, 0.5);
    .header-content {
      display: flex;
      background-color: #ffffff;
      align-items: center;
      .page-label,
      .tabs-wrapper {
        display: flex;
        align-items: center;

        .xc-tab {
          background-color: white;
          & a {
            font-size: 1.5rem;
            text-transform: uppercase;
            background-color: white;
            font-weight: bold;
          }

          & .active {
            color: #fc5830;
            border-bottom: 0.2rem solid #fc5830;
          }
        }
      }

      .tabs-wrapper {
        flex: 1 1 auto;
      }

      .page-label {
        flex: 1 1 rem;
        .main-label {
          padding-top: 2.3rem;
          padding-left: 3.5rem;
          padding-bottom: 2.5rem;
          .label-text {
            font-size: 2.5rem;
            color: #444444;
          }

          span {
            margin-right: 0.8rem;
            font-size: 2rem;
          }
        }
      }
    }
  }

  .body-page {
    margin-top: 0.4rem;
    display: flex;
    box-shadow: 0.1rem 0.1 1rem 0 rgba(219, 219, 219, 0.5);
    .list-header {
      padding: 0;
      border-bottom: solid 0px #e0e0e0;

      .list-header-wrapper {
        display: flex;
        background-color: #e0e0e0;
        height: 6rem;
        align-items: center;

        .col {
          flex: 1;
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          color: #212529;
          padding: 2rem rem 2rem rem;

          &.col-title {
            justify-content: center;
            flex: 2;
            padding-left: 3rem;
            min-width: 24rem;
          }
          &.col-status {
            flex: 1;
            justify-content: flex-start;
          }

          &.col-checkbox {
            flex: 1;
            justify-content: center;
            min-width: 10rem;
            max-width: 15rem;
            padding-left: 1.7rem;
            padding-right: 1.7rem;
          }

          &.col-qualtity {
            flex: 1;
            justify-content: center;
            text-align: center;
          }
          &.col-price {
            flex: 1;
            justify-content: center;
            text-align: center;
          }
          &.col-time {
            flex: 1;
            justify-content: center;
            text-align: center;
          }
        }
      }
    }

    .list-body {
      display: flex;
      .list-item-wrapper {
        > a {
          color: #4a4a4a;
        }
      }

      .job-suitable-item {
        display: flex;
        line-height: 2.2rem;

        .col {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          // border-bottom: solid 1px #e0e0e0;
          // border-right: solid 1px #e0e0e0;
          padding: 2rem 0 2rem 0;

          &.col-title {
            justify-content: center;
            flex: 2;
            padding-left: 3rem;
            padding-right: 0;
            min-width: 24rem;
            flex-direction: column;
            align-items: flex-start;
            .title {
              font-weight: bold;
            }
          }

          &.col-avatar {
            flex: 1;
            justify-content: center;
            min-width: 7rem;
            max-width: 7.5rem;
            padding-left: 1.7rem;
            img {
              max-width: 7rem;
            }
          }

          &.col-distance {
            flex: 1;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            max-width: 30rem;
            padding-left: 3rem;
            i {
              padding-right: 0.8rem;
              color: #9b9b9b;
            }
            .distance {
              color: #fc5830;
              font-weight: bold;
              > i {
                color: #9b9b9b;
              }
            }
            .money {
              padding-left: 0.4rem;
            }
          }

          &.col-apply-status {
            flex: 1;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            max-width: 20rem;
            i {
              padding-right: 0.8rem;
              color: #9b9b9b;
            }
            .money {
              padding-left: 0.4rem;
            }
          }

          &.col-reply {
            flex: 1;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            max-width: 20rem;
          }
          .important {
            color: #fc5830;
            font-weight: bold;
            padding-left: 2.8rem;
          }

          &.col-status {
            flex: 1;
            justify-content: flex-end;
            max-width: 17rem;
            padding-right: 4.5rem;

            .critical,
            .hot {
              text-transform: uppercase;
              padding: 0.6rem 1.4rem;
              color: white;
              border-radius: 0.2rem;
            }

            .critical {
              background-color: #00bfa5;
            }

            .hot {
              background-color: #d0021b;
            }
          }

          .job-critical,
            .job-hot {
              text-transform: uppercase;
              padding: 0.6rem 1.4rem;
              color: white;
              border-radius: 0.2rem;
            }

            .job-critical {
              background-color: #00bfa5;
            }

            .job-hot {
              background-color: #d0021b;
            }
        }
      }
    }

    .list-footer {
      min-height: 11rem;
    }

    .footer {
      position: absolute;
      bottom: 2.2rem;
      margin-left: 7.2rem;
      // left: 72px;

      .btn-continue {
        width: 18.6rem;

        a {
          font-size: 1.6rem;
          height: 5.5rem;
        }
      }
    }
  }

  .popup-wrapper {
    .light-box {
      background-color: rgba(219, 219, 219, 0.5);
    }
    .modal-body {
      padding: 4rem 4rem 2rem 4rem;
    }
    .message {
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;

      &.refresh-msg .message-text {
        text-align: center;
        .refresh-number {
          color: #fc5830;
        }
      }

      .message-text {
        font-family: Roboto;
        font-size: 2rem;
        font-weight: normal;
        color: #212529;
        margin-bottom: 2rem;
      }

      .job-news-title {
        color: #fc5830;
        font-family: Roboto;
        font-size: 2rem;
        font-weight: normal;
      }

      .annotation-text {
        font-size: 1.4rem;
        font-weight: 300;
        color: #979797;
        margin-top: 1.6rem;
      }
    }

    .button-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .jn-btn {
        border: none;

        a {
          padding: 0.5rem;
          color: #979797;
        }

        &.jn-btn__yellow {
          margin-left: 2rem;
          width: 18.6rem;
          a {
            padding: 0;
            height: 5.5rem;
            line-height: 5.5rem;
            color: #ffffff;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .body-page .list-body .job-suitable-item .col {
      &.col-status {
        padding-right: 1.5rem;
        min-width: 10rem;
      }
      &.col-distance {
        padding-left: 1.5rem;
        min-width: 12rem;
      }
      &.col-title {
        min-width: 0;
        padding-left: 1.5rem;
      }
    }
  }

  @media (max-width: 640px) {
    .header-content .tabs-wrapper {
      > div {
        width: 100%;
      }
      .xc-tab {
        flex-direction: column;
        a {
          flex: 1;
          padding-left: 3rem;
          display: flex;
        }
      }
    }
  }
}
