.experience-body-page {
  padding: 0rem;
  .experience-content-wrapper {
    padding: 0 3.2rem;
    flex: 1;
    width: 100%;

    &.empty-list {
      padding: 0;
    }
    &.show-update-btn {
      padding-bottom: 0;

      .input-section {
        background-color: transparent !important;
      }

      .delete-btn-wrapper {
        display: none !important;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }

    .input-section {
      flex: 1;
      display: flex;
      padding: 0rem;
      padding-bottom: 2.4rem;
      padding-top: 2.4rem;
      // flex-direction: column;

      &:hover {
        background-color: #f3f3f3;
        margin-left: -3.2rem;
        margin-right: -3.2rem;
        padding: 2.4rem 3.2rem;

        .delete-btn-wrapper {
          display: block;
        }

        .select-display-wrapper,
        .jn-checkbox .checkbox-material .check,
        .jn-datepicker {
          background-color: #fff;
        }
      }

      .delete-btn-wrapper {
        display: none;
        background-color: #f3f3f3;

        .jn-btn {
          background-color: #fff;
          font-size: 1.5rem;
          font-weight: 300;
          width: 10rem;

          a {
            line-height: 4rem;
            color: #4a4a4a;

            span {
              color: #000000;
              font-weight: normal;
              display: inline-block;
              margin-right: 0.6rem;
            }
          }
        }
      }

      &:last-child {
        padding-bottom: 0;
      }

      & .edit-footer-wrapper {
        padding-left: 20rem;
        .jn-btn__yellow {
          margin-top: 0;
          margin-left: 0;
        }
      }

      form {
        width: 100%;
      }
      .jn-input-wrapper {
        margin-bottom: 2.4rem;

        label {
          flex: none;
          width: 20rem;
          padding: 0;
          line-height: 4rem;
          height: 4rem;
        }

        .input-wrapper {
          flex: 1;
          flex-direction: column;
          align-items: flex-start;
          input {
            height: 4rem;
          }
          max-width: 58rem;
        }

        .help-block {
          position: relative;
          margin-bottom: 0;
          margin-top: 1.2rem;
          font-size: 1.2rem;
          font-weight: 300;
          color: #d0021b !important;
        }
      }

      .jn-select {
        > label {
          width: 20rem;
          font-size: 14px;
          color: #4a4a4a;
          font-weight: normal;

          .required {
            font-size: 1.7rem;
            color: #d0021b;
            margin-left: 0.6rem;
          }
        }
        .field-body {
          flex: 1;
          max-width: 58rem;
        }

        input {
          height: 3.8rem;
        }

        .dropdown-menu {
          top: 4rem;
        }
      }

      .jn-btn__yellow {
        margin-top: 2.4rem;
        margin-left: 20rem;
        width: 18.6rem;

        a {
          padding: 0;
          line-height: 4rem;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }

  .add-btn-wrapper {
    padding: 0;
    .jn-btn a {
      padding: 0 !important;
      line-height: 4rem;
      background-color: #e3e3e3 !important;
      color: #4a4a4a !important;
      span.icon-jn-plus {
        font-size: 1.4rem;
        margin-right: 0.6rem;
        &:before {
          color: #4a4a4a;
        }
      }
    }
  }

 

    form.experience-cv-form > div {
      flex-direction: column;
    }

    .edit-footer-wrapper {
      padding-left: 0 !important;
      justify-content: center;
      margin-top: 1rem;
    }
    @media (max-width: 767px) {
      .experience-content-wrapper {
        padding: 0 1.6rem;
  
        .input-section {
          position: relative;
          &:hover {
            margin-left: -1.6rem;
            margin-right: -1.6rem;
            padding: 2.4rem 1.6rem;
          }
  
          .delete-btn-wrapper {
            position: absolute;
            right: 0;
            top: 0;
    
            .jn-btn {
              width: auto !important;
              min-width: 0;
            }
          }
        }
      }
    }
  }



.experience-info {
  .popup-wrapper {
    .message {
      display: flex;
      font-size: 1.4rem;
      align-items: center;
      color: #4a4a4a;

      >span {
        font-size: 2rem;
        color: #d0021b;
        display: inline-block;
        margin-right: .6rem;
      }
    }

    .button-wrap {
      display: flex;
      justify-content: flex-end;

      a {
        padding: 0 3rem;
        line-height: 4rem;
      }
    }
  }
}
